<div class="row">
	<div class="col s12">
	      	<h1>About Yotho </h1>
	      	<p><em>Your thoughts</em></p>
	      	<p>It is 'Your Thoughts' app that let users write down their thoughts.</p>
			<p>Thoughts can be shared publically for other users to see and comments on them or they can be private.</p>
			<p>By private, means only creators get to see them.</p>
			<pre>version 1.0.0</pre>
	  </div>
	</div>
</div>